/* general styles 
for body and typography */
html {
  font-size: 10px;
}

body {
  font-family: "Inconsolata", serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: normal;
  font-style: normal;
  background: #1c1c20;
}

img {
  // width: 100%;
  // max-width: 100%;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 4.5rem;
  line-height: 1.5em;
  font-weight: bold;
  font-style: normal;
  color: @main-color;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5em;
  font-weight: bold;
  font-style: normal;
  color: @main-color;
}

.bg-general {
  background: url('../../img/bg-general.jpg') no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}

.layout-center-wrapper {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .layout-center-wrapper {
    width: 1200px;
  }  
}