.features { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 13.125em;
  padding-bottom: 14.375em;
  font-size: 1.6rem;
}

.features__title {
  margin-top: 0;
  color: @secondary-color;
  text-transform: uppercase;
  .small-underline();
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .clearfix();
}

.features__list-item {
  float: left;
  width: 16.25em;
  margin-right: 3.125em;
  .remove-last-r-margin();
}

.features__item-title {
  position: relative;
  margin: 0;
  margin-bottom: 0.556em;
  padding-left: 40px;

  &:before {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
  }
}

.features__item-title--icon-mouse {
  padding-left: 1.267em;

  &:before {
    top: -10px;
    left: 0;
    width: 22px;
    height: 40px;
    .stitches-sprite(-10px, -349px, 22px, 40px); //x, y, width, height
  }
}

.features__item-title--icon-tv {
  padding-left: 1.667em;

  &:before {
    top: 2px;
    left: 0;
    width: 25px;
    height: 27px;
    .stitches-sprite(-10px, -681px, 25px, 27px); //x, y, width, height
  }
}

.features__item-title--icon-arrows {
  padding-left: 1.667em;

  &:before {
    top: 7px;
    left: 0;
    width: 28px;
    height: 23px;
    .stitches-sprite(-10px, -10px, 28px, 23px); //x, y, width, height
  }
}

.features__item-descr {
  margin: 0;
  .small-underline();
}

.features__link {
  color: @main-color;
  text-decoration: underline;
  transition: all 200ms ease;

  &:hover {
    color: @secondary-color;
    text-decoration: none;
  }
}