.features {
  font-size: 1.6rem;
  margin-bottom: 10em;
}

.features__title {
  margin-top: 0;
  color: @secondary-color;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.813em;
  .small-underline();

  &::after {
    margin-left: auto;
    margin-right: auto;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__list-item {
  width: 16em;
}

.features__item-title {
  margin: 0;
  margin-bottom: 0.556em;
  line-height: 2.5em;

  &:before {
    content: '';
    display: inline-block;
    margin-right: .5em;
    vertical-align: bottom;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
  }
}

.features__item-title--icon-mouse {

  &:before {
    width: 22px;
    height: 40px;
    .stitches-sprite(-10px, -349px, 22px, 40px); //x, y, width, height
  }
}

.features__item-title--icon-tv {

  &:before {
    width: 25px;
    height: 27px;
    .stitches-sprite(-10px, -681px, 25px, 27px); //x, y, width, height
  }
}

.features__item-title--icon-arrows {

  &:before {
    width: 28px;
    height: 23px;
    .stitches-sprite(-10px, -10px, 28px, 23px); //x, y, width, height
  }
}

.features__item-descr {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.5em;
  .small-underline();
}

.features__link {
  color: @main-color;
  text-decoration: underline;
  transition: all 200ms ease;

  &:hover {
    color: @secondary-color;
    text-decoration: none;
  }
}

@media @mobile-width-only {
  
  .features__list-item {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .features__item-descr::after {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .features {
    font-size: 2.5rem;
  }
}

@media @tablet-width {
  .features {
    margin-bottom: 18em;
    font-size: 1.6rem;
  }

  .features__list {
    .clearfix();
  }

  .features__list-item {
    float: left;
    width: 31%;
    margin-right: 3.5%;
    .remove-last-r-margin();
  }

  .features__item-title {

    &:before { vertical-align: middle; }
  }
}

@media (max-width: 979px) {
  .features__title {
    margin-bottom: 1.5em;
  }
}

@media (min-width: 980px) {
  .features {
    .clearfix();
  }

  .features__title {
    float: left;
    width: 30%;
    text-align: left;

    &::after {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .features__list {
    float: left;
    width: 70%;
  }
}