.intro {
  position: relative;
  font-size: 1.6rem;
  padding-top: 13.625em;
  padding-bottom: 5em;
  background: url(../../img/bg-intro.jpg);
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}


.intro__list {

  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9.500em;

  &-item {
    width: 21.875em;    
  }

}


.intro__item-title {
  font-size: 2.813em;
  line-height: 1.5em;
  padding-left: 1.667em;
  margin-top: 0;
  margin-bottom: 0.333em;
}


.intro__item-descr {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;

  .small-underline();
}


.intro__btn {
  text-align: center;
}