/* 
** Навигацию располагаем 
** на самом верхнем слое.
*/
.main-nav {
  position: absolute;
  top: 0;
  z-index: 99999;
  width: 100%;
  font-size: 1.6rem;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background: url('../img/bg-main-nav-shadow.png');
  background-size: 85% auto;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  list-style-type: none;
}


.main-nav__list-item {

  a {
    display: inline-block;
    vertical-align: top;
    padding: .8em .5em .5em .5em;
    color: @main-color;
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 1.688em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }
}

@media @tablet-width {
  .main-nav__list-item {
    margin-right: 2.6em;
    .remove-last-r-margin();

    a {
      font-size: 1.3em;
    }
  }
}

@media @desktop-width {
  .main-nav__list-item {
    margin-right: 4.6em;
  }
}



