.portfolio-outer {
  display: none;
  position: relative;
  font-size: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

.portfolio-wrapper {
  position: relative;
  min-height: 55em;
  overflow: hidden;
}

.portfolio {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) 
             skewX(-30deg);
  font-size: 1rem;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*
Позиционирование внутри flex-элементов
сделано на абсолютах, потому что вложенные
флексбоксы при наведении начинают заметно
дергаться
*/
.portfolio__list-item {
  position: relative;
  width: 47em;
  height: 55em;
  overflow: hidden;

  &:hover .portfolio__item-link:after,
  &:hover .portfolio__item-link:before {
    opacity: 1;
  }

  &:hover .portfolio__item-link:before {
    transform: scale(1);
  }

  &:first-child .portfolio__item-link:before {
    left: 53%;
  }

  &:nth-child(2) .portfolio__item-link:before {
    left: 48%;
  }

  &:nth-child(3) .portfolio__item-link:before {
    left: 42%;
  }
}

.portfolio__item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-54%, -50%) skewX(30deg);

  //голубой фон
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; 
    background-color: rgba(47, 161, 229, .8);
    transition: opacity 400ms ease-in-out;
    opacity: 0;
  }

  // иконка "Play"
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 47%;
    width: 60px;
    height: 71px;
    transform: translate(-50%, -50%)
               scale(0);
    transition: transform 200ms ease-in-out;
    background-image: url('../img/spritesheet.png');
    .stitches-sprite(-10px, -590px, 60px, 71px);
    opacity: 0;
  }
}

.portfolio-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 980px) {
  .portfolio-outer {
    display: block;
  }

  .portfolio__list-item {
    width: 52em;
  }
}

@media (min-width: 1280px) {
  .portfolio-outer {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .portfolio__list-item {
    width: 54em;
  }
}
