.services {
  .clearfix();
  font-size: 1.8rem;
  padding-top: 8.333em;
  padding-bottom: 11.944em;;

  &__left-col {
    float: left;
    width: 25em;
  }

  &__right-col {
    float: right;
    width: 19.444em;
    height: 30em;
    margin-right: 100px; //чтобы при повороте list-item'a, он подровнялся по center-wrapper
  }
}

.services__title {
  margin-top: 0;
  margin-bottom: 40px;
  .small-underline();
}

.services__descr {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1.111em;
}

.services__link {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  color: @secondary-color;
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

//350 = 170 + 170 + 5
//540 = 170 * 3 + 10 * 3

.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 605px; //такая высота нужна для корректного сдвига первой колонки list-item'ов
  transform: rotate(30deg);
}

.services__list-item {
  font-size: 0.778em;
  width: 12.143em;
  height: 12.143em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: @dark-blue;
  margin-right: 0.714em;
  margin-bottom: 0.714em;
  .remove-last-r-margin();
  transition: all 200ms ease-in-out;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:hover {
    background: #fff;
    color: @dark-blue;
  }

  span {
    transform: rotate(-30deg);
    text-transform: uppercase;

    &:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 35px;
      height: 35px;
      margin-bottom: 5px;
      background: @secondary-color;
    }
  }
}