.services {
  margin-bottom: 11em;
  font-size: 1.6rem;
}

.services__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 2.813em;
  .small-underline();
}

.services__descr {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1.111em;
}

.services__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.143em;
  height: 12.143em;
  font-size: 0.778em;
  text-align: center;
  background: @dark-blue;
  transition: all 200ms ease-in-out;

  &:hover {
    color: @dark-blue;
    background: #fff;
  }

  span {
    text-transform: uppercase;

    &:before {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 5px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      content: '';
    }
  }
}

.services__item-text--icon-graphic {
  &:before {
    width: 32px;
    height: 21px;
    .stitches-sprite(-10px, -114px, 32px, 21px);
  }
}

.services__item-text--icon-mark {
  &:before {
    width: 33px;
    height: 35px;
    .stitches-sprite(-10px, -155px, 33px, 35px);
  }
}

.services__item-text--icon-arrows {
  &:before {
    width: 28px;
    height: 23px;
    .stitches-sprite(-10px, -10px, 28px, 23px);
  }
}

.services__item-text--icon-compass {
  &:before {
    width: 27px;
    height: 41px;
    .stitches-sprite(-10px, -53px, 27px, 41px);
  }
}

.services__item-text--icon-pencil {
  &:before {
    width: 35px;
    height: 45px;
    .stitches-sprite(-10px, -525px, 35px, 45px);
  }
}

.services__item-text--icon-pen {
  &:before {
    width: 29px;
    height: 31px;
    .stitches-sprite(-10px, -474px, 29px, 31px);
  }
}

@media @mobile-width-only {
  .services__left-col {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 5em;
  }
  .services__title {
    text-align: center;

    &::after {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .services__list {
    padding-left: 0.7em;
  }

  .services__list-item {
    margin-right: 2em;
    transform: rotate(45deg);
  }

  .services__list-item span {
    transform: rotate(-45deg);
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .services {
    font-size: 2.5rem;
  }
}

@media @tablet-width {
  .services {
    margin-bottom: 14em;
    .clearfix();

    &__left-col {
      float: left;
      width: 25em;
    }

    &__right-col {
      float: right;
      width: 19.444em;
      height: 30em;
      margin-right: 8.125em; //чтобы при повороте list-item'a, блок подровнялся по center-wrapper
    }
  }

  .services__list {
    flex-direction: column;
    height: 37.813em;
    transform: rotate(30deg);
  }

  .services__list-item {
    margin-right: 0.714em;
    .remove-last-r-margin();    
    margin-bottom: 0.714em;

    &:nth-child(2n) { margin-right: 0; }
  }

  .services__list-item span {
    transform: rotate(-30deg);
  }
}

@media @tablet-width and (max-width: 979px) {
  .services__title {
    font-size: 2.4em;
  }
}