.testimonials { 
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.testimonials__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.testimonials__list-item {
  padding-top: 8.438em;
  padding-bottom: 9.375em;
  font-size: 1.6rem;
  text-align: center;
  background: url(../../img/bg-testemonials-1.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  img { margin-bottom: 1.875em; }
}

.testimonials__comment {
  margin-top: 0;
  margin-bottom: 0.694em;
  color: @main-color;
  font-size: 1.55em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: bold
}

.testimonials__author {
  margin: 0;
  color: @main-color;
  font-size: 1.013em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: normal;
}